*{
	border: 0;
	padding: 0;
	margin: 0;
}

body{
    background-color: #FFFAFA;
    color: #030303;
}

header {
    background-color: rgb(245, 80, 237);
    padding: 20px 0;
}

.caixa {
    position: relative;
    left: 1px;
    border: 2px solid #671299;
  }
  